.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;

  @media (max-width: 541px) {
    display: block;

    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &__filter {
    display: flex;

    @media (max-width: 541px) {
      justify-content: center;
      margin: 20px 0;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 541px) {
      float: right;
    }

    &:hover {
      color: var(--color-btn);
    }
  }
}
